/* Global */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

#defaultCanvas {
  width: 600px;
  height: 400px;
  /*border:1px solid #000000;*/
  display: none;
}
