/* Color Scheme

light to dark:

#ffe303 - Yellow
#fffffb - White
#95cd44 - Liz Green
#1b6fd1 - Blue
#69747a - Grey
*/

/* Global */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
  padding: 10px;
}
body {
  background-color: #1b6fd1;
  margin: auto;
  min-width: 370px;
  max-width: 1000px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  padding: 5px;
}
.half-width {
  width: 50%;
}
.third-width {
  width: 33.3333333333333333%;
}

.btn {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border:2px solid #ffe303;
  box-shadow: 0px 0px 2px 2px #ffe303;
}

#song-1 {
  background-image: url("/images/TheMagicSchoolBus_360x254.png");
  float: right;
  width: 100%;
}
#song-2 {
  background-image: url("/images/msb_Rides_Again_360x254.png");
  width: 100%;
}
#producer {
  background-image: url("/images/the_producer_180.png");
  width: 100%;
}
#frizzle {
  background-image: url("/images/Ms.Frizzle_180.png");
  width: 100%;
}
#liz {
  background-image: url("/images/Liz_180.png");
  width: 100%;
}
#arnold {
  background-image: url("/images/Arnold_180.png");
  width: 100%;
}
#wanda {
  background-image: url("/images/Wanda_180.png");
  width: 100%;
}
#tim {
  background-image: url("/images/Tim_180.png");
  width: 100%;
}
#carlos {
  background-image: url("/images/Carlos_180.png");
  width: 100%;
}
#phoebe {
  background-image: url("/images/Phoebe_180.png");
  width: 100%;
}
#da {
  background-image: url("/images/DA_180.png");
  width: 100%;
}
#ralphie {
  background-image: url("/images/Ralphie_180.png");
  width: 100%;
}
#keesha {
  background-image: url("/images/Keesha_180.png");
  width: 100%;
}
#janet {
  background-image: url("/images/Janet_180.png");
  width: 100%;
}
