
.section-icon {
  width:2ch;
  margin-right:1ch;
}
.university-img {
  border-radius: 50%;
}
.tight-right {
  margin-right: 0px;
}
#text-carousel {
  width: 150px;
  margin-left: 1ch;
}

.rectangle-cover {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 575px;
    }

.code_example {
    position:  relative;
}
